body {
    font-family: 'Roboto', sans-serif;
}

.nav_bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #2196F3;
    font-size: 1em;
}

.home_btn{
    background-color: #1976D2;
    height: 50px;
    width: 150px;
    top: 30%;
    margin-left: 40px;
    position: absolute;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.image{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: absolute;
    right: 50px;
    top: calc(50% - 40px);
}

.Led{
    width: 250px;
    height: 250px;
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: auto;
}

.butn{
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.pos{
    width: 500px;
    height: 100px;
    position: absolute;
    top: 425px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: auto;
    font-size: 40px;
}

.name{
    margin-top: 160px;
    margin-left: 20px;
    font-size: 35px;
}