body {
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: #333333;
}

.nav_bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #2b2b2b;
    font-size: 1em;
    color: D9D9D9;
}

.image{
    background-color: #002342;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: absolute;
    right: 50px;
    top: calc(50% - 40px);
}

.home_btn{
    background-color: #1976D2;
    height: 50px;
    width: 150px;
    top: 30%;
    margin-left: 40px;
    position: absolute;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.led_1 {
    cursor: pointer;
    outline: none;
}

.temperature {
    cursor: pointer;
    outline: none;
}

.led_2 {
    cursor: pointer;
    outline: none;
}

.add_led {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #2b2b2b;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-left: 50px;
    font-size: 20px;
    transition: linear 0.3s;
}

.add_led:hover {
    background-color: #3D3D3D;
}

#AddForm{
    background-color: #002342;
    color: white;
    width: 50%;
    height: 500px;
    visibility: hidden;
    opacity: 0;
    top: 150px;
    margin-left: 25%;
    z-index: 100;
    position: fixed;
    border: 2px solid #001930;;
    border-radius: 30px;
    transition: linear 0.3s;
}

.Instruction{
    padding-top: 125px;
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
}

.input{
    margin-left: 25%;
    height: 50px;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.btn{
    position: absolute;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
}