body {
    font-family: 'Roboto', sans-serif;
}

.nav_bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #2196F3;
    font-size: 1em;
}

.image{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: absolute;
    right: 50px;
    top: calc(50% - 40px);
}

.home_btn{
    background-color: #1976D2;
    height: 50px;
    width: 150px;
    top: 30%;
    margin-left: 40px;
    position: absolute;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.led_1 {
    cursor: pointer;
    outline: none;
}

.temperature {
    cursor: pointer;
    outline: none;
}

.led_2 {
    cursor: pointer;
    outline: none;
}

.add_led{
    border: none;
    cursor: pointer;
    background-color: #1976D2;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-left: 50px;
    font-size: 20px;
}

#AddForm{
    background-color: white;
    width: 50%;
    height: 500px;
    top: -500px;
    margin-left: 25%;
    z-index: 100;
    position: absolute;
    border: 2px solid #2196F3;
    border-radius: 30px;
    transition: linear 0.3s;
}

.Instruction{
    padding-top: 125px;
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
}

.input{
    margin-left: 25%;
    height: 50px;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.btn{
    position: absolute;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
}