<link rel="stylesheet" href="/static/CSS/led_1.css">
{% extends 'base.html' %}
{% load static %}
{% block header %}
    <h2 style="vertical-align: middle; display: inline-block; padding-left: 40px; color: white;">Smart Home</h2>
    <img class = "image" src = "https://s.starladder.com/uploads/user_logo/e/2/f/e/f0d227746d98c02a794fcbf3b693cf8b.jpg">
{% endblock %}

{% block content %}>
    <img class = "Led" src = "https://i.exclipart.com/images/thermometer-icon-png-2.png">
    <form method="post">
        {% csrf_token %}
        <button class = "btn" type="submit" position="on">Вкл/Выкл</button>
    </form>
{% endblock %}