<link rel="stylesheet" href="/static/CSS/termometr.css">
{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <h2 style="vertical-align: middle; display: inline-block; padding-left: 40px; color: white;">Smart Home</h2>
    <button class = "home_btn">На главную</button>
    <img class = "image" src = "https://s.starladder.com/uploads/user_logo/e/2/f/e/f0d227746d98c02a794fcbf3b693cf8b.jpg">
{% endblock %}

{% block content %}
    <img class = "temp" src = "https://i.exclipart.com/images/thermometer-icon-png-2.png">
    <button class = "btn">Вкл/Выкл</button>
    <div class = "temp_now">
        <h2 style = "display: inline; top: -30px; position: absolute;">Температура:</h2>
        <h2 style = "top: -30px; right: 25px; display: inline;position: absolute;">25°C</h2>
    </div>
<table class = "table">
  <colgroup>
    <col span = "2" style="height: 200px; background-color: C4C4C4; border: solid 1px black;"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
    <col style="background-color: C4C4C4; border: solid 1px black;"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
  <tr>
    <th style = "font-size: 30px; text-align: center; height: 75px; border-radius: 30px 0 0 0;">ВРЕМЯ</th>
    <th style = "font-size: 30px; text-align: center; height: 75px; border-radius: 0 30px 0 0;">ТЕМПЕРАТУРА</th>
  </tr>
    {% csrf_token %}
  {% for trm in izm %}
  <tr>
    <td class = "item">10:00</td>
    <td class = "item">{{ izm.izm1 }}</td>
  </tr>
  <tr>
    <td class = "item">11:00</td>
    <td class = "item">{{ izm.izm2 }}</td>
  </tr>
    <tr>
    <td class = "item">12:00</td>
    <td class = "item">{{ izm.izm3 }}</td>
  </tr>
    <tr>
    <td class = "item">12:25</td>
    <td class = "item">{{ izm.izm4 }}</td>
  </tr>
    <tr>
    <td class = "item">13:00</td>
    <td class = "item">{{ izm.izm5 }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}